.login{
    position: absolute;
    height: 200vh;
    width: 80vw;
    top: 0;
    right: 0;
    transform: translate(100%);
   
    .go-back{
        padding: 40px;
    }

    .login-container{
        background-color: $dark-grey;
        height: 100vh;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;

        .login-data{
            display: flex;
            flex-direction: column;
            gap: 100px;
            align-items: center;

            input{
                background: inherit;
                border: none;
                border-bottom: 1px solid $text-grey;
                outline: none;
                width: 300px;
                color: $text-grey;

                &::placeholder{
                    opacity: 0.8;
                }
                
            }

            button{
                color: $text-grey;
                background-color: inherit;
                border: 1px solid $text-grey;
                border-radius: 50px;
                width: fit-content;
                padding: 10px 20px;
            }
        }
       
    }
    
}