.navbar {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    font-weight: 100;
    text-transform: uppercase;
    z-index: 100;
    transition: transform 0.7s ease-in-out;

    &.out {
        transform: translateX(-80%);
    
      }
    .navbar__mobile{
        @media (min-width: 700px) {
            display: none;
        }
    }

    .navbar__desktop {
        display: flex;

        .logo {
            height: 50px;
            width: 50px;
            margin-right: 50px;

            transition: transform 0.4s ease;

            &:hover {
              transform: scale(1.2);
            }
        }

        ul {
            display: flex;
            align-items: center;
            gap: 40px;
            font-family: inherit;

            li {
               
                padding: 8px 15px;
                border: 1px solid $dark-grey;
                border-radius: 50px;
                transition: all 0.4s ease;
            }
        }
    
        @media (max-width: 700px) {
            display: none;
        }
    }

    .login-call {
        align-items: center;
  
        position: relative;
        width: 140px;
        padding: 8px 15px;
        border: 1px solid $dark-grey;
        border-radius: 50px;
        transition: all 0.4s ease;

        &:hover{
            border: 1px solid $text-grey;
        }
        span {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.4s ease;
            top: 50%;
        }
    }


}