.offer {
    margin-top: 350px;
    padding-bottom: 150px;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    background-color: $text-grey;
    color: $dark-grey;

    p {
        width: 50%;
        font-size: 1.2rem;
        font-weight: 200;
        font-family: $font-text;
    }

    .link-container {

        div {
            margin-left: auto;
        }
    }
}