  /* variables */
  
  $main-font: "Archivo";
  $font-text: "ArkitypeRegular";
  $font-text-light: "ArkitypeLight" ;
  $font-lato: "Lato";
  $theme-red: #a83031;
  $theme-blue: #121122;//2D3248;
  $theme-bg: #fefefe;

  $dark-grey: #020202;
  $text-grey: #f5f5f5;

/* fonts */

@font-face {
    font-family: "Azonix Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Azonix Regular"), url("/fonts/Azonix.woff") format("woff");
  }


  
