  /* variables */
  
  $main-font: "Archivo";
  $font-text: "DM Sans";
  $font-text-light: "ArkitypeLight" ;
  $font-lato: "Lato";
  $theme-red: #a83031;
  $theme-blue: #121122;//2D3248;

  $dark-grey: #020202;
  $text-grey: #f6f6f6;

/* fonts */

// @font-face {
//     font-family: "Azonix Regular";
//     font-style: normal;
//     font-weight: normal;
//     src: local("Azonix Regular"), url("/fonts/Azonix.woff") format("woff");
//   }

/* breakpoints TODO */
  
