@import "../../components/global.scss";

.faq {
  background-color: $theme-blue;
  padding-top: 200px;
  padding-bottom: 150px;
  color: white;

  h1 {
    font-family: $font-text;
    font-size: 4rem;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 40px;

    @media (max-width: 800px) {
      font-size: 3rem;
      line-height: 2.5rem;
    }

    @media (max-width: 480px) {
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
  }

  h2 {
    font-family: $font-text-light;
    font-size: 2rem;
    text-align: center;

    @media (max-width: 800px) {
      font-size: 1.8rem;
    }

    @media (max-width: 480px) {
      font-size: 1.4rem;
    }
  }

  .faq-container {
    width: 100%;
    border-radius: 16px;
    background-color: $theme-bg;
    margin: 100px 0;
    color: $theme-blue;
    padding: 40px;
    display: flex;
    gap: 50px;

    .faq-questions {
      font-family: $font-lato;
      font-size: 1rem;

      h3 {
        text-transform: uppercase;
        cursor: pointer;
        font-family: $font-text;
        margin: 10px 0;
        .faq-icon {
          transition: all 0.4s ease;
          font-size: 1.2rem;
          margin-left: 15px;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        max-height: 0;
        transition: max-height 0.2s ease;
        overflow: hidden;

        &.open {
          max-height: 700px;
          transition: max-height 0.5s ease-in;
        }

        li {
          cursor: pointer;
          transition: all 0.4s ease;
          margin: 5px 0;

          &.clicked {
            color: $theme-red;
            font-weight: bolder;
          }
          &:hover {
            color: $theme-red;
          }
        }

        p {
          margin: 15px 0;
          padding: 0 15px;
          border-left: 2px solid $theme-red;
        }
      }
    }

    .faq-answear {
      font-family: $font-lato;
      border-left: 3px solid $theme-red;
      width: 80%;
      padding-left: 20px;
      align-self: center;
      font-size: 1.2rem;

      @media (max-width: 1330px) {
        width: 120%;
      }
    }

    @media (max-width: 830px) {
      display: block;
    }
    
    @media (max-width: 500px) {
      padding: 40px 20px;
      width: 115%;
      .faq-questions {
        h3 {
          font-size: 1rem;
          .faq-icon {
            margin-left: 10px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  a {
    cursor: pointer;
    font-family: $font-decor;
    font-size: 1.6rem;
    transition: all 0.4s ease;
    background: url("../../images/gold.png") no-repeat;
    background-size: 200% 100%;
    background-position: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    display: block;
    margin: 40px auto 0 auto;
    text-align: center;

    &:hover {
      background-position: right;
    }
    @media (max-width: 600px) {
      font-size: 1.2rem;
    }
  }
}
