@import "../../components/global.scss";

.policy{

    h1 {
        font-family: $font-text;
        font-size: 4rem;
        text-align: center;
        font-weight: lighter;
        margin-bottom: 40px;
    
        @media (max-width: 800px) {
          font-size: 3rem;
          line-height: 2.5rem;
        }
    
        @media (max-width: 480px) {
          font-size: 1.8rem;
          margin-bottom: 20px;
        }
      }

      h2 {
        font-family: $font-text-light;
        font-size: 2rem;
        text-align: center;
    
        @media (max-width: 800px) {
          font-size: 1.8rem;
        }
    
        @media (max-width: 480px) {
          font-size: 1.4rem;
        }
      }
}