@import "./global.scss";

.header {
  min-height: 90vh;
  background-color: $theme-blue;
  color: white;
  position: relative;
  display: flex;
  overflow: hidden;
  padding-bottom: 80px;

  &::after {
    box-shadow: inset 0 90px 35px $theme-blue;
    content: " ";
    height: 14%;
    position: absolute;
    left: 0;
    top: 0;
    width: 110%;
    z-index: 1;
    opacity: 0.8;
  }

  h2 {
    text-align: center;
    z-index: 2;
    font-size: 2.2rem;
      font-family: $font-text-light;
      position: absolute;
      top: 82%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
  }

  .header-container {
    width: 100%;

    .header-caption-container {
      position: relative;
      padding: 0 60px;

      .header-caption {
       margin: 0 auto;
        width: 60vw;
        max-width: 1200px;
        padding: 40px 50px;
        background-color: $theme-bg;
        color: $theme-blue;
        border-radius: 15px;
        font-family: $font-lato;
        font-weight: 600; 

        .phone-img{
          float: right;
          width: 30%;

          @media (max-width: 1250px) {
            width: 50%;
          }
        }

        h2{
          position: relative;
          transform: none;
          width: unset;
          margin-bottom: 40px;
          left: unset;
        }

        h3{
          font-family: $font-text;
          margin: 20px 0;
          font-size: 1.2rem;
        }

        @media (max-width: 800px) {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 40px 20px;

          p{
            text-align: center;
          }

          h2{
            padding: 0;
            order: 1;
          }
          .paragraph__first{
            order: 2;
          }
          a{
            order: 3;
            cursor: pointer;
            font-family: $font-text;
            &.read-more{
              order: 8;
            }
          }
          h3{
            order: 6;
          }
          .paragraph__second{
            order: 4;
          }
          .paragraph__third{
            order: 7;
          }
          .phone-img{
            float: none;
            width: 65%;
            order: 5;
            margin-top: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    h2{
      font-size: 2rem;
      line-height: 2.5rem;
      padding: 0 60px;
    }
  }
  
  @media (max-width: 590px) {
    h2{
      top: 76%;
    }
  }

  @media (max-width: 440px) {
    h2{
      top: 64%;
    }
  }
}
