@import "./global.scss";

.header-navbar {
  position: absolute;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 60px;
  width: 100%;
  height: 60px;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    cursor: pointer;

    li {
      margin-left: 30px;
      text-transform: uppercase;
      font-family: $font-text;
      color: white;
      transition: all 0.4s ease;

      .active-link{
        color: $theme-red;
        pointer-events: none;
        font-weight: bolder;
      }

      &:hover{
        color: $theme-red;
        font-weight: bolder;
      }
    }
  }

  .logo{
    font-family: $font-decor;
    color: white;
    font-size: 1.6rem;
  }

  @media (max-width: 1090px) {
    justify-content: flex-end;
    ul {
      display: none;
    }
  }
}
