@import "./global.scss";

.partners {
  padding-top: 100px;
  padding-bottom: 100px;

  h1 {
    font-family: $font-text;
    margin-bottom: 40px;
    font-size: 2.5rem;
    text-align: center;
    @media (max-width: 800px) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      
      @media (max-width: 480px) {
        font-size: 1.8rem;
      
      }
  }
  .swiper-item {
    height: 280px;

    .item-img {
      max-width: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


  }
  .swiper-pagination-bullet {
    background: $theme-blue !important;

  }
  .swiper-pagination-bullet-active {
    background: $theme-red !important;
  }
}
