@import "./global.scss";

.sidebar {
  height: 100vh;
  width: 60px;
  position: fixed;
  z-index: 1000;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
 
  @media (max-width: 800px) {
    backdrop-filter: none;
  }

  .hamburger {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 23px 18px;
    background-color: $theme-red;
    cursor: pointer;

    div {
      width: 100%;
      height: 2px;
      background-color: white;
    }
  }

  .scroll-container {
    flex-grow: 1;
    height: auto;
    position: relative;
    padding-top: 20px;

    .scrollbar {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 90%;
      width: 2px;
      background-color: rgba($color: #ffffff, $alpha: 0.8);

      .scrollbar-indicator {
        position: absolute;
        top: 0;

        width: 100%;
        left: 0;
        background-color: $theme-red;
      }
    }
  }

  .icons-container {
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;

    a {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: $theme-red;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;

      &:hover {
        color: $theme-red;
        background: transparent;
      }
    }
  }

  @media (max-width: 800px) {
    width: 40px;

    .hamburger{
      height: 50px;
      padding: 19px 3px 13px 10px;
      background: transparent;
      backdrop-filter: blur(5px);
      div{
        background-color: $theme-red;
        
      }
    }

    .icons-container{
      margin-bottom: 20px;
      a{
        height: 28px;
        width: 28px;
      }
    }
  }

  .sidebar-menu {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    color: black;
    transition: transform 0.7s ease-in-out;
    min-width: 250px;
    width: 40vw;
    max-width: 1000px;
    background-color: rgba($color: white, $alpha: 0.95);
    padding: 50px;

    ul {
      list-style-type: none;
      padding: 0;
      width: fit-content;

      @media (min-width: 500px) {
        &:hover ~ .custom-cursor{
          display: none;
        }
      }


      a{
        &:hover{
          color: $theme-red;
          font-weight: bolder;
        }

        &.active-link{
          color: $theme-red;
          font-weight: lighter;
          pointer-events: none;
        }
      }

      li{
        font-family: $font-text;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-bottom: 10px;

        &.mobile-only{
          @media (min-width: 1090px) {
            display: none;
          }
        }
        ul{
          padding-left: 20px;
          li{
            text-transform: none;
          }
        }
        @media (max-height: 650px) {
          font-size: 1rem;
        }
      }


    }

    .sidebar-menu__icons{
      padding: 50px 0 0 0 ;

      .icon{
        font-size: 1.2rem;
        border-radius: 50%;
        padding: 10px;
        border: 1px solid black;
        aspect-ratio: 1;
        margin-right: 10px;
        transition: all 0.4s ease;
        cursor: pointer;

        &:hover{
          color: $theme-red;
          border: none;
          border: 1px solid rgba($color: white, $alpha: 0);
          
        }
      }

      @media (max-width: 800px) {
        display: none;
      }
    }

    &.open {
      transform: translateX(0);
      cursor: none;

      ul {
        cursor: auto;
      }

      
      @media (max-width: 500px) {
        cursor: auto;
      }
    }

    .custom-cursor {
      width: 30px;
      height: 30px;
      margin: 15px auto;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 100000;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: $theme-red;
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

      @media (max-width: 500px) {
        opacity: 1;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
      }
    }

    @media (max-width: 480px) {
      ul{
        li{
          font-size: 1rem;
          padding: 6px 0;

        }
      }

    }

    @media (max-width: 650px) {
      width: 80vw;
      .sidebar-menu__icons{
        .icon{
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

